<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Best School</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:fragment="header">
    <div class="header">
        <div class="first-header">
            <img src="/images/logo.jpg" alt="Best School Logo" class="logo"/>
            <nav>
                <a href="/">School Search</a>
                <a href="/community">Community</a>
                <a href="/about">About Us</a>
            </nav>
        </div>
        <nav>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>

    </div>
</header>
</body>
</html>